body {
	margin: 0;
}
.cat-projct-sec {
	background-color: #000;
}
.container {
	max-width: 930px;
	width: 100%;
	margin: auto;
}
.bulb-img {
    margin: auto;
    max-width: 120px;
}
.bulb-img img {
    max-width: 120px;
    margin: auto;
}
.cat-img {
	max-width: 320px;
	margin: auto;
}
.cat-img img {
	max-width: 320px;
	margin: auto;
}
.switch-board {
    max-width: 320px;
    margin: auto;
    background-color: gray;
    padding: 15px;
    text-align: center;
    border-radius: 6px;
}
button {
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: center;
}